.banner {
    /* https://res.cloudinary.com/yashrg04/image/upload/v1657272849/Profile_Founder/cover_gshgsh.jpg */
    /* https://madelastonlineshopping.files.wordpress.com/2015/02/woman-online-shopping.jpg */

    /* https://madelastonlineshopping.files.wordpress.com/2015/02/woman-online-shopping.jpg
     */
     background-image: linear-gradient(rgba(0, 0, 0, 0.027),rgba(0, 0, 0, 0.5)) , url("https://wallpaperaccess.com/full/2593042.jpg");

   /* background-image: url("https://madelastonlineshopping.files.wordpress.com/2015/02/woman-online-shopping.jpg");  */
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  height: 55vmax;
   display: flex; 
   flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(236 221 233);
}

.banner > main {
  margin: 5vmax;
      color: rgb(255 243 135);
  font: 600 3.5vmax "Roboto";
}

.banner > p {
  font-size: large;
   color: rgb(255 42 210);
  font: 300 1.4vmax "Lucida Sans";
}

.banner > a > button {
  margin-bottom: 1vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
  
}


.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  
}

/* .banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(100% 68%, 0 100%, 100% 100%);
  max-width: 100%;
} */

.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;

}

.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  background-color: #f1f1f1;
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
   background-color: rgba(55, 62, 62, 0.00) 50%;
}

.productCard > img {
  height: 17vmax;
  width: 14vmax;

}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
 
}

.productCardSpan {
  margin: 0.3vmax;
  font: 300 0.7vmax "Roboto";
}

.productCard > p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax;
  color: tomato;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}

.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

  transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}
